/* -- Define color -- */
$color_primary: rgb(35, 74, 179)  // blue
$color_primary_transparent: rgba(36, 74, 179, 0.6) 
$color_secondary: rgb(252, 235, 235) //pink
$color_secondary_transparent: rgba(252, 235, 235, 0.6)

/* -- Define mixin -- */
//center the object vertically
@mixin vertical_center
  top: 50%
  transform: translateY(-50%)

*
  font-family: Athelas

html, body
  padding: 0
  margin: 0

/* -- Navigation bar layout -- */
.nav_bar
  position: absolute
  width: 100%
  margin: 0
  z-index: 100

  .nav_item
    height: 70px
    font-size: 20px
    display: flex
    justify-content: center
    align-items: center
    color: $color_secondary
    padding-top: 30px
    padding-bottom: 10px
    transition: 0.2s
    cursor: pointer
    img 
      width: 50px    
  .nav_item:nth-child(n+2)
    &:hover
      background-color: rgba(0, 0, 0, 0.8)
      color: $color_secondary 
  .icon_title
    flex-direction: column
    margin-left: 5px
    p
      margin: 0
    p:nth-child(1)
      font-size: 18px
    p:nth-child(2)
      font-size: 22px


/* -- CSS 3D property for parallax effect -- */
/* Here are some source to figure out how the parallax work:
  CSS 3D: https://www.oxxostudio.tw/articles/201506/css-3d.html
  CSS parallax: https://codepen.io/eladrin201/pen/btLGH?editors=1100
*/
.slides           // camera of the CSS 3D
  position: absolute
  width: 100%
  height: 100%
  perspective: 300px
  overflow-x: hidden
  overflow-y: auto
  scroll-behavior: smooth

.slide_parallax   // space of the CSS 3D
  transform-style: preserve-3d
  position: relative

.back_layer   // The layer at the back, scroll slower
  background: url("./image/background_image.png")
  background-size: cover
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  transform: translateZ(-200px) scale(1.7)
  z-index: -100

.base_layer // The layer at the front, scroll faster
  height: 100%
  position: relative


/* -- Global Property -- */

.container  // React Bootstrap component 'Grid'
  width: 70%

.slide
  height: 800px
  position: relative

.hover_block  // transparent blue hover on the bg image
  width: 100%
  height: 100%
  background-color: $color_primary_transparent
  position: absolute
  left: 0
  top: 0

.square
  width: 40px
  height: 40px
  position: absolute

.main_title
  font-size: 40px
  margin-top: 0px
  position: relative

.sub_title
  font-size: 20px
  margin-bottom: 0px

.media_title
  height: 550px
  padding: 20px
  .square
    bottom: 20px

.content_text
  font-size: 20px

.title_block
  position: relative
  .square
    top: 20px
    right: 0

.media_block
  position: relative
  top: 100px
.media_content
  height: 550px
  display: flex

.btn_slide_sub
  transition-duration: 0.2s
  padding: 5px 30px 
  cursor: pointer
  &:hover
    transform: scale(1.05)
  .main_title
    font-size: 35px

/* -- Dialog property -- */
// Strongly recommanded to open the DevTool 'Elemet' section to figure out the element of React Bootstrap Modal

.modal-dialog    // React Bootstrap Comonent 'Modal'
  width: 70%
  .modal-content  // Children of 'Modal'
    background: url("./image/background_image.png")
    background-size: cover 
    border-radius: 0
    height: 600px
    overflow: hidden
  .modal-header // 'ModalHeader'
    background-color: rgba(0, 0, 0, 0.4)
    border-bottom: none
    padding: 0px
    color: $color_secondary
    height: 80px
    position: relative
    .main_title
      font-size: 35px
      position: relative
      left: 30px
      +vertical_center
    .cross
      right: 30px
      +vertical_center
      cursor: pointer
      &::before
        content: ""
        display: block
        border: solid 2px $color_secondary
        width: 0
        height: 100%
        position: absolute
        transform: rotate(45deg)
        background-color: $color_secondary
      &::after
        content: ""
        display: block
        border: solid 2px $color_secondary
        width: 0
        height: 100%
        position: absolute
        transform: rotate(-45deg)
        background-color: $color_secondary
  .modal-body // 'ModalBody'
    height: 100%
    position: absolute
    width: 100%
  .modal-body:nth-child(3)
    visibility: hidden
  .hover_block
    background-color: $color_secondary
    opacity: 0.9  

.plain_dialog
  .hover_block
    background-color: $color_secondary
    opacity: 1

.content_sub
  margin-top: 100px
  .title
      font-weight: bold
      margin-bottom: 20px
.media_sub
  margin-top: 100px

.right_arrow 
  height: 85%
  display: flex
  align-items: center
  .square
    background-color: black
    opacity: 0.2
    clip-path: polygon(0 0, 0% 100%, 50% 50%)
    cursor: pointer
    &:hover
      opacity: 0.5

.left_arrow 
  height: 85%
  display: flex
  align-items: center
  .square
    background-color: black
    opacity: 0.2
    clip-path: polygon(100% 0, 100% 100%, 50% 50%)
    cursor: pointer
    &:hover
      opacity: 0.5


/* -- Slide Layout -- */
.slide:nth-child(1)
  .title_card
    height: 350px
    top: 250px
    color: $color_secondary
    border: solid 10px $color_secondary
    position: relative
    overflow: hidden
  .square
    right: 0
    background-color: $color_secondary
  .titles
    padding: 30px
    position: relative
  .hover_block
    background-color: $color_primary
    opacity: 0.7


.slide:nth-child(2)
  background-color: $color_secondary
  color: $color_secondary
  .media_block
    background: url("./image/background_image.png")
    background-size: cover 
  .square
    background-color: $color_secondary
  img 
    align-self: center


.slide:nth-child(3)
  color: $color_secondary
  .square
    background-color: $color_secondary
  .content_block
    height: 800px
    padding-top: 150px
  .bar
    height: 120%
    position: absolute
    left: -30px
    transform: translateY(-40%)
    border: solid $color_secondary 5px
    z-index: -1

.slide:nth-child(4)
  background-color: $color_secondary
  padding-top: 150px 
  color: $color_primary 
  .square
    background-color: $color_primary
  .btn_slide_sub
    background: url("./image/background_image_reverse.png")
    background-size: 80%
    color: $color_secondary
    margin-top: 30px
  .slide_sub
    background: url("./image/background_image_reverse.png")
    background-size: cover
    .hover_block
      background-color: $color_secondary
      opacity: 0.9
    .title_block
    .main_title
      color: $color_secondary
    .square
      background-color: $color_secondary
  

.slide:nth-child(5)
  padding-top: 150px 
  color: $color_secondary
  .square
    background-color: $color_secondary
  .row
    margin-top: 30px
  .btn_slide_sub
    color: $color_primary
    background: linear-gradient(to right, $color_secondary, $color_secondary_transparent)



.slide:nth-child(6)
  background-color: $color_secondary
  color: $color_secondary
  .square
    background-color: $color_secondary
    bottom: 100px
  .title_col
    height: 800px
    background: url("./image/background_image.png")
    background-size: cover
    padding-left: 50px 
  .main_title
    position: relative
    top: 100px
  img
    transform: scale(.8)

.slide:nth-child(7)
  color: $color_primary
  .media_block
    background-color: $color_secondary
  .square
    background-color: $color_primary
  .medial_content
    position: relative
  iframe
    align-self: center
    width: 100%
    height: 90%
    

.slide:nth-child(8)
  background-color: $color_secondary 
  color: $color_primary
  .content_block
    height: 800px
    padding-top: 200px
  .square
    background-color: $color_primary
  .bar
    height: 600px
    position: absolute
    bottom: 0
    right: -30px
    border: solid $color_primary 5px


.footer
  height: 500px
  color: $color_secondary
  position: relative
  overflow: hidden
  .back_layer
    background-image: url("./image/background_image_footer.jpg")
    background-size: cover
    transform: translateZ(-200px) scale(2)
  .next_button
    border: solid $color_secondary 10px
    top: 50%
    transform: translateY(-50%)
    padding-top: 10px
    padding-left: 40px
    cursor: pointer
    .hover_block
      z-index: -1