/* -- Define color -- */
* {
  font-family: Athelas; }

html, body {
  padding: 0;
  margin: 0; }

/* -- Side bar layout -- */
.side_bar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  z-index: 2; }
  .side_bar .lil_square {
    width: 30px;
    height: 30px; }
  .side_bar .lil_square:nth-child(odd) {
    background-color: #244ab3; }
  .side_bar .lil_square:nth-child(even) {
    background-color: #4d73e6; }

/* -- Navigation bar layout -- */
.nav_bar {
  position: fixed;
  width: 100%;
  margin: 0;
  background-color: #244ab3;
  z-index: 100; }
  .nav_bar .nav_item {
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcebeb;
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 5px solid #fcebeb;
    transition: 0.2s;
    cursor: pointer; }
    .nav_bar .nav_item:hover {
      background-color: #fcebeb;
      border-bottom: 5px solid #244ab3;
      color: #244ab3; }

/* -- CSS 3D property for parallax effect -- */
.slides {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth; }

.slide_parallax {
  transform-style: preserve-3d;
  position: relative; }

.back_layer {
  background: url("./image/background_image.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.base_layer {
  transform: translateZ(100px) scale(0.7);
  height: 100%; }

/* -- Global Property -- */
.slide {
  height: 800px; }

.hover_block {
  width: 100%;
  height: 100%;
  background-color: rgba(36, 74, 179, 0.6);
  position: absolute;
  left: 0;
  top: 0; }

.square {
  width: 40px;
  height: 40px;
  position: absolute; }

.main_title {
  font-size: 45px;
  margin-top: 0px; }

.sub_title {
  font-size: 30px;
  margin-bottom: 0px; }

.media_title {
  height: 600px;
  padding: 20px; }
  .media_title .square {
    bottom: 20px; }

.content_text {
  font-size: 20px; }

.title_block {
  position: relative; }
  .title_block .square {
    top: 20px;
    right: 0; }

.media_block {
  position: relative;
  top: 100px; }

.media_content {
  height: 600px;
  display: flex; }

.btn_slide_sub {
  transition-duration: 0.2s;
  padding: 5px 30px;
  cursor: pointer; }
  .btn_slide_sub:hover {
    transform: scale(1.05); }

/* -- Slide Layout -- */
.slide:nth-child(1) .title_card {
  height: 400px;
  top: 250px;
  color: #fcebeb;
  border: solid 10px #fcebeb;
  position: relative;
  overflow: hidden; }

.slide:nth-child(1) .square {
  right: 0;
  background-color: #fcebeb; }

.slide:nth-child(1) .titles {
  padding: 30px;
  position: relative; }

.slide:nth-child(1) .hover_block {
  background-color: #244ab3;
  opacity: 0.7; }

.slide:nth-child(2) {
  background-color: #fcebeb;
  color: #fcebeb; }
  .slide:nth-child(2) .media_block {
    background: url("./image/background_image.png");
    background-size: cover; }
  .slide:nth-child(2) .square {
    background-color: #fcebeb; }
  .slide:nth-child(2) img {
    align-self: center; }

.slide:nth-child(3) {
  background-color: rgba(36, 74, 179, 0.6);
  color: #fcebeb; }
  .slide:nth-child(3) .square {
    background-color: #fcebeb; }
  .slide:nth-child(3) .content_block {
    height: 800px;
    padding-top: 120px; }
  .slide:nth-child(3) .bar {
    height: 120%;
    position: absolute;
    left: -30px;
    transform: translateY(-40%);
    border: solid #fcebeb 5px;
    z-index: -1; }

.slide:nth-child(4) {
  background-color: #fcebeb;
  padding-top: 150px;
  color: #244ab3; }
  .slide:nth-child(4) .square {
    background-color: #244ab3; }
  .slide:nth-child(4) .row {
    margin-top: 30px; }
  .slide:nth-child(4) .btn_slide_sub {
    background: url("./image/background_image_reverse.png");
    background-size: 80%;
    color: #fcebeb; }

.slide:nth-child(5) {
  padding-top: 150px;
  color: #fcebeb; }
  .slide:nth-child(5) .square {
    background-color: #fcebeb; }
  .slide:nth-child(5) .row {
    margin-top: 30px; }
  .slide:nth-child(5) .btn_slide_sub {
    color: #244ab3;
    background: linear-gradient(to right, #fcebeb, rgba(252, 235, 235, 0.6)); }

.slide:nth-child(6) {
  background-color: #fcebeb;
  color: #fcebeb; }
  .slide:nth-child(6) .square {
    background-color: #fcebeb;
    bottom: 100px; }
  .slide:nth-child(6) .title_col {
    height: 800px;
    background: url("./image/background_image.png");
    background-size: cover;
    padding-left: 50px; }
  .slide:nth-child(6) .main_title {
    position: relative;
    top: 100px; }
  .slide:nth-child(6) img {
    transform: scale(0.8); }

.slide:nth-child(7) {
  color: #244ab3; }
  .slide:nth-child(7) .media_block {
    background-color: #fcebeb; }
  .slide:nth-child(7) .square {
    background-color: #244ab3; }
  .slide:nth-child(7) .medial_content {
    position: relative; }
  .slide:nth-child(7) iframe {
    align-self: center;
    width: 100%;
    height: 90%; }

.slide:nth-child(8) {
  background-color: #fcebeb;
  color: #244ab3; }
  .slide:nth-child(8) .content_block {
    height: 800px;
    padding-top: 200px; }
  .slide:nth-child(8) .square {
    background-color: #244ab3; }
  .slide:nth-child(8) .bar {
    height: 600px;
    position: absolute;
    bottom: 0;
    right: -30px;
    border: solid #244ab3 5px; }

.footer {
  height: 500px;
  color: #fcebeb; }
  .footer .back_layer {
    background-image: url("./image/background_image_footer.jpg");
    background-size: cover; }
  .footer .next_button {
    border: solid #fcebeb 10px;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 10px;
    padding-left: 40px;
    cursor: pointer; }
    .footer .next_button .hover_block {
      z-index: -1; }
