/* -- Define color -- */
/* -- Define mixin -- */
* {
  font-family: Athelas; }

html, body {
  padding: 0;
  margin: 0; }

/* -- Navigation bar layout -- */
.nav_bar {
  position: absolute;
  width: 100%;
  margin: 0;
  z-index: 100; }
  .nav_bar .nav_item {
    height: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcebeb;
    padding-top: 30px;
    padding-bottom: 10px;
    transition: 0.2s;
    cursor: pointer; }
    .nav_bar .nav_item img {
      width: 50px; }
  .nav_bar .nav_item:nth-child(n+2):hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fcebeb; }
  .nav_bar .icon_title {
    flex-direction: column;
    margin-left: 5px; }
    .nav_bar .icon_title p {
      margin: 0; }
    .nav_bar .icon_title p:nth-child(1) {
      font-size: 18px; }
    .nav_bar .icon_title p:nth-child(2) {
      font-size: 22px; }

/* -- CSS 3D property for parallax effect -- */
.slides {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth; }

.slide_parallax {
  transform-style: preserve-3d;
  position: relative; }

.back_layer {
  background: url("./image/background_image.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(-200px) scale(1.7);
  z-index: -100; }

.base_layer {
  height: 100%;
  position: relative; }

/* -- Global Property -- */
.container {
  width: 70%; }

.slide {
  height: 800px;
  position: relative; }

.hover_block {
  width: 100%;
  height: 100%;
  background-color: rgba(36, 74, 179, 0.6);
  position: absolute;
  left: 0;
  top: 0; }

.square {
  width: 40px;
  height: 40px;
  position: absolute; }

.main_title {
  font-size: 40px;
  margin-top: 0px;
  position: relative; }

.sub_title {
  font-size: 20px;
  margin-bottom: 0px; }

.media_title {
  height: 550px;
  padding: 20px; }
  .media_title .square {
    bottom: 20px; }

.content_text {
  font-size: 20px; }

.title_block {
  position: relative; }
  .title_block .square {
    top: 20px;
    right: 0; }

.media_block {
  position: relative;
  top: 100px; }

.media_content {
  height: 550px;
  display: flex; }

.btn_slide_sub {
  transition-duration: 0.2s;
  padding: 5px 30px;
  cursor: pointer; }
  .btn_slide_sub:hover {
    transform: scale(1.05); }
  .btn_slide_sub .main_title {
    font-size: 35px; }

/* -- Dialog property -- */
.modal-dialog {
  width: 70%; }
  .modal-dialog .modal-content {
    background: url("./image/background_image.png");
    background-size: cover;
    border-radius: 0;
    height: 600px;
    overflow: hidden; }
  .modal-dialog .modal-header {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: none;
    padding: 0px;
    color: #fcebeb;
    height: 80px;
    position: relative; }
    .modal-dialog .modal-header .main_title {
      font-size: 35px;
      position: relative;
      left: 30px;
      top: 50%;
      transform: translateY(-50%); }
    .modal-dialog .modal-header .cross {
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer; }
      .modal-dialog .modal-header .cross::before {
        content: "";
        display: block;
        border: solid 2px #fcebeb;
        width: 0;
        height: 100%;
        position: absolute;
        transform: rotate(45deg);
        background-color: #fcebeb; }
      .modal-dialog .modal-header .cross::after {
        content: "";
        display: block;
        border: solid 2px #fcebeb;
        width: 0;
        height: 100%;
        position: absolute;
        transform: rotate(-45deg);
        background-color: #fcebeb; }
  .modal-dialog .modal-body {
    height: 100%;
    position: absolute;
    width: 100%; }
  .modal-dialog .modal-body:nth-child(3) {
    visibility: hidden; }
  .modal-dialog .hover_block {
    background-color: #fcebeb;
    opacity: 0.9; }

.plain_dialog .hover_block {
  background-color: #fcebeb;
  opacity: 1; }

.content_sub {
  margin-top: 100px; }
  .content_sub .title {
    font-weight: bold;
    margin-bottom: 20px; }

.media_sub {
  margin-top: 100px; }

.right_arrow {
  height: 85%;
  display: flex;
  align-items: center; }
  .right_arrow .square {
    background-color: black;
    opacity: 0.2;
    clip-path: polygon(0 0, 0% 100%, 50% 50%);
    cursor: pointer; }
    .right_arrow .square:hover {
      opacity: 0.5; }

.left_arrow {
  height: 85%;
  display: flex;
  align-items: center; }
  .left_arrow .square {
    background-color: black;
    opacity: 0.2;
    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
    cursor: pointer; }
    .left_arrow .square:hover {
      opacity: 0.5; }

/* -- Slide Layout -- */
.slide:nth-child(1) .title_card {
  height: 350px;
  top: 250px;
  color: #fcebeb;
  border: solid 10px #fcebeb;
  position: relative;
  overflow: hidden; }

.slide:nth-child(1) .square {
  right: 0;
  background-color: #fcebeb; }

.slide:nth-child(1) .titles {
  padding: 30px;
  position: relative; }

.slide:nth-child(1) .hover_block {
  background-color: #234ab3;
  opacity: 0.7; }

.slide:nth-child(2) {
  background-color: #fcebeb;
  color: #fcebeb; }
  .slide:nth-child(2) .media_block {
    background: url("./image/background_image.png");
    background-size: cover; }
  .slide:nth-child(2) .square {
    background-color: #fcebeb; }
  .slide:nth-child(2) img {
    align-self: center; }

.slide:nth-child(3) {
  color: #fcebeb; }
  .slide:nth-child(3) .square {
    background-color: #fcebeb; }
  .slide:nth-child(3) .content_block {
    height: 800px;
    padding-top: 150px; }
  .slide:nth-child(3) .bar {
    height: 120%;
    position: absolute;
    left: -30px;
    transform: translateY(-40%);
    border: solid #fcebeb 5px;
    z-index: -1; }

.slide:nth-child(4) {
  background-color: #fcebeb;
  padding-top: 150px;
  color: #234ab3; }
  .slide:nth-child(4) .square {
    background-color: #234ab3; }
  .slide:nth-child(4) .btn_slide_sub {
    background: url("./image/background_image_reverse.png");
    background-size: 80%;
    color: #fcebeb;
    margin-top: 30px; }
  .slide:nth-child(4) .slide_sub {
    background: url("./image/background_image_reverse.png");
    background-size: cover; }
    .slide:nth-child(4) .slide_sub .hover_block {
      background-color: #fcebeb;
      opacity: 0.9; }
    .slide:nth-child(4) .slide_sub .main_title {
      color: #fcebeb; }
    .slide:nth-child(4) .slide_sub .square {
      background-color: #fcebeb; }

.slide:nth-child(5) {
  padding-top: 150px;
  color: #fcebeb; }
  .slide:nth-child(5) .square {
    background-color: #fcebeb; }
  .slide:nth-child(5) .row {
    margin-top: 30px; }
  .slide:nth-child(5) .btn_slide_sub {
    color: #234ab3;
    background: linear-gradient(to right, #fcebeb, rgba(252, 235, 235, 0.6)); }

.slide:nth-child(6) {
  background-color: #fcebeb;
  color: #fcebeb; }
  .slide:nth-child(6) .square {
    background-color: #fcebeb;
    bottom: 100px; }
  .slide:nth-child(6) .title_col {
    height: 800px;
    background: url("./image/background_image.png");
    background-size: cover;
    padding-left: 50px; }
  .slide:nth-child(6) .main_title {
    position: relative;
    top: 100px; }
  .slide:nth-child(6) img {
    transform: scale(0.8); }

.slide:nth-child(7) {
  color: #234ab3; }
  .slide:nth-child(7) .media_block {
    background-color: #fcebeb; }
  .slide:nth-child(7) .square {
    background-color: #234ab3; }
  .slide:nth-child(7) .medial_content {
    position: relative; }
  .slide:nth-child(7) iframe {
    align-self: center;
    width: 100%;
    height: 90%; }

.slide:nth-child(8) {
  background-color: #fcebeb;
  color: #234ab3; }
  .slide:nth-child(8) .content_block {
    height: 800px;
    padding-top: 200px; }
  .slide:nth-child(8) .square {
    background-color: #234ab3; }
  .slide:nth-child(8) .bar {
    height: 600px;
    position: absolute;
    bottom: 0;
    right: -30px;
    border: solid #234ab3 5px; }

.footer {
  height: 500px;
  color: #fcebeb;
  position: relative;
  overflow: hidden; }
  .footer .back_layer {
    background-image: url("./image/background_image_footer.jpg");
    background-size: cover;
    transform: translateZ(-200px) scale(2); }
  .footer .next_button {
    border: solid #fcebeb 10px;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 10px;
    padding-left: 40px;
    cursor: pointer; }
    .footer .next_button .hover_block {
      z-index: -1; }
